<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta property="og:title" content="Waifus">

    <meta property="og:type" content="website">

    <meta property="og:description" content="">
    <meta property="og:url" content="/waifus">
    <meta property="og:site_name" content="Waifu Sim">

    <title>Waifu Sim &middot; Waifu Sim</title>

  {{template "style"}}

</head>
<body>

{{template "sidebar"}}
<header>
<h1>Waifus</h1>
<button type="button" class="btn btn-default"><strong><a href="/waifus/new"><i class="fa fa-female" aria-hidden="true"></i> <span class="hidden-xs">Create Waifu</span></a></strong></button>
</header>
  <main>
    {{range .Waifus }}
    <div class="panel-header">
        <h3>First name is {{ .Firstname }} & last name is {{.Lastname}}</h3>
      </div>
      <div class="panel-body">
      Her character is {{.Characters}}
        </div>
        {{end}}




        <div class="text-center center-block">
        <nav>
          <ul class="pagination">
            {{if .IsFirst}}
            <li  class="disabled" >
              <a href="#" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
              </a>
            </li>
            {{else}}
            <li>
              <a href="/waifus?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
              </a>
            </li>
            {{end}}
            {{if .IsPrevious}}
            <li>
              <a href="/waifus?page={{.Previous}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{else}}
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{end}}
            {{if .Less}}
            <li class="disabled">
                <span aria-hidden="true">...</span>
            </li>
            {{end}}
            {{range .Count}}
            {{if .Current}}
            <li class="active"><a href="/waifus?page={{.Number}}">{{.Number}}</a></li>
            {{else}}
              <li><a href="/waifus?page={{.Number}}">{{.Number}}</a></li>
            {{end}}
            {{end}}
            {{if .More}}
            <li class="disabled">
                <span aria-hidden="true">...</span>
            </li>
            {{end}}
            {{if .IsNext}}
            <li>
              <a href="/waifus?page={{.Next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {{else}}
            <li class="disabled">
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {{end}}
            {{if .IsLast}}
            <li  class="disabled">
              <a href="#" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
            {{else}}
            <li>
              <a href="/waifus?page={{.Last}}" aria-label="First">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
            {{end}}
          </ul>
        </nav>
        </div>
        </main>




                  </div>
                </div>
              </div>
        {{template "script"}}
      </body>
      </html>
